{% extends "base.html" %}

{% block title %}Aide - Accueil{% endblock %}

{% block content %}
<style>
    nav #accueil {
    background-color: red;
}
</style>
    <div class="container">
        <h1 class="main-title">Guide d'utilisation - HUAHINE</h1>
<div class="map-preview">
    <img src="{{ url_for('static', filename='images/ecran.png') }}"
         alt="Aperçu de la carte"
         style="width: 50%;
                max-height: 600px;
                object-fit: cover;
                margin: 0 auto 20px auto;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0,0,0,0.1);
                display: block;">
</div>
        <div class="section">
            <h2 class="section-title">Introduction</h2>
            <p>Bienvenue dans le guide d'utilisation de HUAHINE. Cette application vous permet de gérer et visualiser vos données géographiques.</p>
        </div>

        <div class="section">
            <h2 class="section-title">Fonctionnalités principales</h2>
    <ul>
        <li>Visualisation des cartes avec votre direction et votre parcours, ainsi que les autres bateaux sur AIS. </li>
        <li>Enregistrer votre parcours</li>
        <li>Créer une route</li>
        <li>Visualiser les vents</li>
        <li>Visualiser les instruments NMEA 2000</li>
        <li>Importer les données du bus CAN sur la table</li>
        <li>Exporter le résultat en CSV sur NMEA 2000</li>
    </ul>

        </div>

        <div class="section">
            <h2 class="section-title">Comment utiliser l'application</h2>
            <ol>
                <li>Lancez l'application</li>
                <li>Raccordez l'adaptateur sur un port USB</li>
                <li>Raccordez sur le bus CAN le H et L</li>
                <li>Cliquez sur le bouton "OPEN"</li>
                <li>Cliquez sur le bouton "Lecture du bus CAN"</li>
                <li>Vous pouvez visualiser votre position sur la carte.</li >
                <li>Vous voyez aussi votre projection ainsi que les autres bateaux sur AIS</li>
            </ol>


        </div>

        <div class="conclusion-box success">
            <strong>Astuce :</strong> Utilisez la touche F1 à tout moment pour accéder à l'aide.
        </div>
    </div>
{% endblock %}